.f{
 
    background-image: url('../images/cine-realista_1284-25339.jpg');

    background-position: center center;
    
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
   color: white;


}