/* CSS para el menú que está seleccionado actualmente */
/*---------------------------------------------*/

.f{
    background-image: url("../images/m.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.a{
   
    background-color: blue;
    
}
.tabla{
    background-color: white;
}
.n{
    color: yellow;
}

#menu a.nav-link{
    border-bottom: transparent solid 0px;
    transition: all ease .3s;
}
#menu a.nav-link:hover{
    font-size: 20px;
    color: dodgerblue;
   /* border-bottom: solid dodgerblue;*/
}
#menu a.select{
    color: yellow;
}
/*---------------------------------------------*/



/* Color blanco para los título */
/*---------------------------------------------*/
.blanco{
    color: white;
}
.blanco:hover{
    color: white;
}
/*--------------------------------------------*/